.main .container {
			padding: 5em 2.5em 8em 2.5em ;
			background: rgba(255, 255, 255, 0.78);
			box-shadow: inset 0 1px 0 0 #dddddd;
            font-family: 'Poiret One', cursive;
		}

h1 {
    text-transform: none;
    font-family: 'Dancing Script', cursive;
}

/* Style the video: 100% width and height to cover the entire window */
    #myVideo {
        position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
    }

.w3-theme-l5 {color:#000 !important; background-color:#edffff !important}
.w3-theme-l4 {color:#000 !important; background-color:#c3feff !important}
.w3-theme-l3 {color:#000 !important; background-color:rgba(135, 253, 255, 0.62) !important}
.w3-theme-l2 {color:#000 !important; background-color:#4afcff !important}
.w3-theme-l1 {color:#000 !important; background-color:#0efbff !important}
.w3-theme-d1 {color:#fff !important; background-color:#00b9bc !important}
.w3-theme-d2 {color:#fff !important; background-color:#00a4a7 !important}
.w3-theme-d3 {color:#fff !important; background-color:#009092 !important}
.w3-theme-d4 {color:#fff !important; background-color:#007b7d !important}
.w3-theme-d5 {color:#fff !important; background-color:#006769 !important}

.w3-theme-light {color:#000 !important; background-color:#edffff !important}
.w3-theme-dark {color:#fff !important; background-color:#006769 !important}
.w3-theme-action {color:#fff !important; background-color:#006769 !important}

.w3-theme {color:#fff !important; background-color:#00ced1 !important}
.w3-text-theme {color:#00ced1 !important}
.w3-border-theme {border-color:#00ced1 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#00ced1 !important}
.w3-hover-text-theme:hover {color:#00ced1 !important}
.w3-hover-border-theme:hover {border-color:#00ced1 !important}